#titulo {
  color: brown;
}

p.texto {
  color: blue;
}

p.especial {
  color: green;
}

div p {
  /*esto es un comentario */
  color: orange;
}

div h2,
div h3 {
  color: rgb(15, 128, 0);
}

* {
  font-size: 24px; /*esto es un comentario */
  color: black;
}

/* esto es un comentario 
de varias
lineas
*/

/*
.color{
    color: rgb(0, 0, 200);
    color: #0000a0;
} */

.color {
  /* border: 5px red inset; */
  /*
    dotted
    dashed
    solid
    double
    groove  ... 3D
    ridge   ... 3D
    inset   ... 3D
    outset  ... 3D
    none
    hidden
    */

  border-style: solid;
  border-color: blue;
  border-radius: 5px;
  border-width: 1pc;
}

#fondo {
  background-color: rgba(220, 0, 0);
  /* opacity: 0.4; */
  height: 200px;
  /* background-image: url('llama.jpg'); */
  /* background-size: cover; */
  /* background-size: 500px 500px;
  background-repeat: no-repeat;
  background-position: left top; */
  background: #f00 url("llama.jpg") repeat-y center bottom / 100px 100px;
}

.margen {
  background-color: chocolate;
  margin: 15px;
  padding: 30px;
  border: solid 2px black;
  height: 100px;
  width: 50px;
  overflow: scroll;
}
