#titulo {
  color: brown;
}

p.texto {
  color: blue;
}

p.especial {
  color: green;
}

div p {
  /*esto es un comentario */
  color: orange;
}

div h2,
div h3 {
  color: rgb(15, 128, 0);
}

* {
  font-size: 24px; /*esto es un comentario */
  /* color: black; */
}

/* esto es un comentario 
de varias
lineas
*/

/*
.color{
    color: rgb(0, 0, 200);
    color: #0000a0;
} */

.color {
  /* border: 5px red inset; */
  /*
    dotted
    dashed
    solid
    double
    groove  ... 3D
    ridge   ... 3D
    inset   ... 3D
    outset  ... 3D
    none
    hidden
    */

  border-style: solid;
  border-color: blue;
  border-radius: 5px;
  border-width: 1pc;
}

#fondo {
  background-color: rgba(220, 0, 0);
  /* opacity: 0.4; */
  height: 200px;
  /* background-image: url('llama.jpg'); */
  /* background-size: cover; */
  /* background-size: 500px 500px;
  background-repeat: no-repeat;
  background-position: left top; */
  background: rgb(0, 255, 55) url("llama.jpg") repeat-y center bottom / 100px
    100px;
}

.margen {
  background-color: chocolate;
  margin: 10px;
  padding: 30px;
  border: solid 2px black;
  height: 100px;
  width: 100px;
  overflow: scroll;
  outline: 1px solid red;
}

.text {
  font-family: "Delicious Handrawn", Arial;
  text-align: center;
  text-decoration: underline;
  text-shadow: 3px 5px 5px blue;
}

a:link {
  color: blueviolet;
}

a:visited {
  color: grey;
}

a:hover {
  color: yellow;
}

a:active {
  color: red;
}

ul {
  background-color: aquamarine;
  list-style-position: outside;
  list-style-type: upper-alpha;
  padding-left: 50px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Juntar los bordes */
}

th,
td {
  border: solid 1px #eee;
  padding: 5px; /* asgregar espacio dentro de las rows*/
}

th {
  background-color: tomato;
  color: white;
  text-align: left;
}

tr:nth-child(even) /* seleccionar solo algunos elementos, este caso par*/ {
  background-color: #eee;
}

tr:hover {
  background-color: #aaa;
  cursor: pointer;
}

span {
  display: block; /*convertir en div y obligar hacer un salto de linea al siguiente elemento*/
  /* display: none; quitarlos*/
  /* visibility: hidden; esconderlos*/
  max-width: 300px; /* se adapta al redimensionar*/
  background-color: red;
}

.inline {
  display: inline;
}

#position {
  /* position: static; valor defecto */
  /* position: fixed; se queda fijo, se muve con el scroll */
  position: sticky; /*combinacion entre fixed y relative*/
  left: 20px;
  top: 30px;
}

.left {
  float: left;
  width: 200px;
  height: 200px;
}

.right {
  float: right;
}

.container {
  height: 200px;
}

.column {
  margin: 0;
  padding: 10px 0;
  width: 33.3%;
}

.inline-block {
  display: inline-block;
  height: 55px;
  background-color: red;
}

.center {
  padding: 50px 0;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  background-color: aqua;
}